<!DOCTYPE html>
<html>
<head>
	<title>MVVM</title>
</head>
<body>
	<div id="app">
		<input type="text" v-model="name">
		<select v-model="select">
			<option value="1">1</option>
			<option value="2">2</option>
			<option value="3">3</option>
		</select>
		name: {{name}}
		select: {{select}}
	</div>

	<script src="./src/observer.js"></script>
	<script src="./src/watcher.js"></script>
	<script src="./src/compile.js"></script>
	<script src="./src/mvvm.js"></script>

	<script>
		var vm = new MVVM({
			el: '#app',
			data: {
				name: 'xxx',
				select: '2'
			}
		})
	</script>
</body>
</html>